* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  font-family: "Inter", sans-serif;
}

button {
  border: none;
}

a {
  text-decoration: none;
}

html {
  scroll-behavior: smooth;
}

body._lock {
  overflow: hidden;
}

.header {
  background: #010c12;
  position: absolute;
  top: 0;
  right: 0;
  left: 0;
  z-index: 1000;
}

.header-wrapper {
  padding: 15px 101px;
  background: #010c12;
  position: relative;
  display: flex;
  align-items: center;
  justify-content: space-between;
}

.header.is-sticky {
  position: fixed;
  animation: slideDown 1s ease-out;
  background: #010c1233;
}

.header.is-sticky .header-wrapper {
  background: #010c1233;
}

.header-links {
  display: flex;
  align-items: center;
  justify-content: flex-start;
  gap: 100px;
}
.nav-wrapper {
  display: flex;
  align-items: center;
  justify-content: flex-start;
  gap: 40px;
}
.nav-link {
  text-decoration: none;
  color: #ffffffb3;
  font-size: 16px;
  line-height: 19px;
}
.logo-wrapper {
  max-width: 177px;
}
.logo-wrapper img {
  width: 100%;
  height: 70px;
}

.header-actions {
  display: flex;
  align-items: center;
  justify-content: flex-end;
  gap: 60px;
}

.header-contact {
  display: flex;
  align-items: flex-start;
  justify-content: flex-start;
  flex-direction: column;
  gap: 12px;
}

.header-contact-link {
  display: flex;
  align-items: center;
  justify-content: flex-start;
  gap: 8px;
  color: #ffffff;
  text-decoration: none;
}

.header-cta-button {
  background-color: #11b4e8;
  color: #000000;
  display: flex;
  align-items: center;
  justify-content: center;
  border-radius: 7px;
  padding: 11px 32px;
  font-size: 16px;
  line-height: 19px;
  border: none;
  font-weight: 500;
}

.main {
  background-image: url("./asset/main-bg.jpg");
  background-repeat: no-repeat;
  background-position: top;
  background-size: cover;
  padding-top: 104px;
}

.hero-cta {
  margin: 0 auto;
  padding: 114px 0;
  display: grid;
  grid-template-columns: repeat(2, 1fr);
  max-width: 1120px;
  align-items: center;
  justify-content: center;
  gap: 24px;
}
.hero-cta-image-wrapper img {
  width: 100%;
  border-radius: 100%;
}
.hero-cta-title {
  display: flex;
  align-items: start;
  flex-direction: column;
  font-size: 64px;
  line-height: 77px;
  font-weight: 700;
  color: #ffffff;
  text-transform: uppercase;
}
.hero-cta-title span {
  color: #11b4e8;
}
.hero-cta-subtitle {
  margin-top: 20px;
  margin-bottom: 38px;
  font-size: 24px;
  line-height: 30px;
  color: #ffffff;
}

.hero-cta-button {
  border-radius: 15px;
  padding: 24px 66px;
  display: flex;
  align-items: center;
  justify-content: center;
  text-transform: uppercase;
  color: #000000;
  background-color: #11b4e8;
  border: none;
  font-weight: 500;
  line-height: 19px;
  font-size: 16px;
}

.section_title {
  margin-bottom: 50px;
  font-size: 48px;
  font-weight: 700;
  text-align: center;
  color: #ffffff;
}
.offers-list {
  display: grid;
  grid-template-columns: repeat(3, 1fr);
  max-width: 1110px;
  margin: 0 auto 195px;
  gap: 30px 32px;
}
.offer-list-item {
  display: flex;
  align-items: center;
  justify-content: space-between;
}

.faq-answer-item {
  background-color: #eef3ff;
  border-radius: 12px;
  margin-bottom: 10px;
  overflow: hidden;
  transition: 0.3s all;
}
.faq-tabs-answers {
  margin: 0 auto;
  max-width: 940px;
  display: flex;
  flex-direction: column;
  gap: 10px;
}
.faq-answer-header {
  border-radius: 12px;
  background: #eef3ff;
  color: #0b0b0b;
  padding: 10px 10px 10px 30px;
  font-size: 20px;
  font-family: "Poppins", "sans-serif";
  border: none;
  font-weight: 500;
  width: 100%;
  text-align: left;
  cursor: pointer;
  outline: none;
  display: flex;
  justify-content: space-between;
  align-items: center;
  transition: 0.3s ease;
  gap: 12px;
}

.accordion-content {
  background-color: #fafafa; /* Very light grey for content */
  overflow: hidden;
  padding: 0 15px;
  max-height: 0;
  transition: max-height 0.3s ease;
}
.faq-answer-content {
  display: none;
}
.faq-answer-content p {
  line-height: 1;
  color: #717171;
  font-family: "Poppins", "sans-serif";
  font-size: 16px;
  max-width: 70%;
  padding: 0 0 30px 30px;
}

.faq-icon {
  transition: transform 0.3s ease;
  width: 50px;
  height: 50px;
  background-color: #0b0b0b;
  display: flex;
  align-items: center;
  justify-content: center;
  border-radius: 100%;
}

.active .faq-icon {
  transform: rotate(180deg);
  background-color: #0040fa;
}

@keyframes slideDown {
  from {
    transform: translateY(-100%);
  }
  to {
    transform: translateY(0);
  }
}
